@using System.Reflection
@using System.Text

@{
    string license = "", credits = "";
    try {
        var rootPath = System.IO.Path.GetDirectoryName(Assembly.GetEntryAssembly().Location);
        license = System.IO.File.ReadAllText(System.IO.Path.Combine(rootPath, "_lics", "license.txt"))
                                .Replace("{YEAR}", DateTime.Now.Year.ToString());

        var creditsText = new StringBuilder();

        creditsText.Append("Portions of this computer program are:");
        creditsText.Append(Environment.NewLine);
        creditsText.Append(Environment.NewLine);

        var doc = new System.Xml.XmlDocument();
        doc.LoadXml(System.IO.File.ReadAllText(System.IO.Path.Combine(rootPath, "_lics", "credits.xml")));

        foreach (System.Xml.XmlNode credit in doc.SelectNodes("credits/credit")!)
        {
            if (credit!.Attributes!["text"] != null)
            {
                creditsText.Append(credit.Attributes["text"]!.Value.Replace(@"\n", Environment.NewLine));
                creditsText.Append(Environment.NewLine);
            }
            if (credit.Attributes["hyperlink"] != null)
            {
                creditsText.Append(Environment.NewLine);
                creditsText.Append(credit.Attributes["hyperlink"]!.Value);
                creditsText.Append(Environment.NewLine);
            }
        }

        credits = creditsText.ToString();
    } catch {}

}
<div class="page-about">

    <h1>gView Server</h1>
    <h3>Version: @SystemInfo.Version.ToString()</h3>
    <a href="https://github.com/jugstalt/gview5" target="_blank">Github...</a>
    <br /><br /><br />

    <pre class="gview-license">
@license
    </pre>

    <pre class="gview-license">
@credits
    </pre>
</div>
