
@{
    ViewData["Title"] = "ConfigInvalid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Config Invalid</h2>

<p class="gview5-error-message"> 
    The gView Server Configuration is not valid. Please try to correct the issue.
    Please create _config/mapserver.json
</p>

<div class="gview5-error-message">
    Please create or repair _config/mapserver.json
</div>

