@inherits ModalDialogFormBase<RenameObjectModel>
@inject IconService Icons

<ModalDialogFormBase T="RenameObjectModel"
                     OnDialogClose="base.OnDialogClose"
                     Model="base.Model">
    <FormContent>
        <div style="display: flex; align-items: center;">
            <MudIcon Icon="@Icons.FromString(Model.ExplorerObject.Icon)" Style="margin-right: 6px;" />
            <MudText>@Model.ExplorerObject.Type: @Model.ExplorerObject.Name</MudText>
        </div>

        <MudTextField @bind-Value="Model.NewName"
                      Label="New Name"
                      HelperText="Please enter a new name for this object"
                      Required="true" />
    </FormContent>
</ModalDialogFormBase>