@inherits ModalDialogFormBase<SpatialReferenceModel>

<ModalDialogFormBase T="SpatialReferenceModel"
                     OnDialogClose="base.OnDialogClose"
                     Model="base.Model">
    <FormContent>
        <SpatialReferenceSelectorControl @ref="control"
            SpatialReferenceChanged="() => SRefChanged()" />
    </FormContent>
    <DialogButtons>
        <div></div>
    </DialogButtons>
</ModalDialogFormBase>

@code {
    private SpatialReferenceSelectorControl? control;
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    private void SRefChanged()
    {
        if(control?.SpatialReference != null)
        {
            Model.SpatialReference = control.SpatialReference;
            base.Submit();
        }       
    }
}