{
  "RepositoryPath": "{repository-path}/gview-web",
	"Authentication": {
		"Type": "oidc_",
		"RequiredUserRole": "gview-web-user",
		"RequiredAdminRole": "gview-web-admin",
		"Oidc": {
			"Authority": "",
			"ClientId": "",
			"ClientSecret": "",
			"scopes":["openid", "profile", "role"]
		}
	},
	"Drives_": {
		"TILE_CACHES": "{repository-path}/server/web/tiles",
		"USER": "{repository-path}/users/{{username}}"
	},
	"CustomTiles": [
		{
			"Title": "Local gView Server",
			"Description": "gView Server in development environment",
			"TargetUrl": "{server-url}"
		}
	]
}