@model  HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach(var mapService in Model.Services)
        {
            <li>
                @Html.ActionLink((String.IsNullOrWhiteSpace(mapService.Folder) ? "" : mapService.Folder + "/") + mapService.Name, "Service", "Home", new { id = (String.IsNullOrWhiteSpace(mapService.Folder) ? "" : mapService.Folder+"@")+mapService.Name })
            </li>
        }
    </ul>
</div>
