@model  HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach(var mapService in Model.Services)
        {
            <li>
                <a href="/Home/Service/@(mapService.Name)" >@mapService.Name</a>
            </li>
        }
    </ul>

</div>
