@model  HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach(var mapService in Model.Services)
        {
            <li>
                @Html.ActionLink(mapService.Name, "Service", "Home", new { id = mapService.Name })
            </li>
        }
    </ul>

</div>
