@inherits ModalDialogFormBase<LegendGroupCartographicMethodModel>

<ModalDialogFormBase T="LegendGroupCartographicMethodModel"
                     OnDialogClose="base.OnDialogClose"
                     Model="base.Model">
    <FormContent>
        <MudRadioGroup Value="Model.CartographicMethod"
                       T="LegendGroupCartographicMethod">
            <GvGrid>
               
                @foreach (var method in Enum.GetValues<LegendGroupCartographicMethod>())
                {
                    <GvGridItem>
                        <MudRadio Value="method">
                            <div>
                                @method.ToString().SplitCamelCase()
                            </div>
                                <table style="background:#fff;color:#000;padding: 8px;border-radius: 8px;">
                               <tr>
                                   <td>
                                        <div class="gview-ui-image img-legend-roads"></div>
                                   </td>
                                   <td>
                                        <span>@("⇒")</span>
                                   </td>
                                   <td>
                                        <div class="gview-ui-image img-carto-@method.ToString().ToLower()"></div>
                                   </td>
                               </tr>
                           </table>
                        </MudRadio>
                    </GvGridItem>
                }
                
            </GvGrid>
        </MudRadioGroup>
    </FormContent>
</ModalDialogFormBase>