@inherits BaseHandler
@inject IconService Icons

<div class="carto-tool-box">
    <div class="carto-tool" @onclick="() => DarkmodeClick()">
        <div class=@Icons.FromString("basic:darkmode")></div>
        <div class="title">Color Scheme</div>
    </div>
</div>

@code{
    [Parameter] public EventCallback ToggleDarkmode { get; set; }

    async private Task DarkmodeClick()
    {
        await ToggleDarkmode.InvokeAsync();
    }
}