@inject gView.Server.Services.Hosting.UrlHelperService UrlHelperService
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Manage" asp-action="Index" class="navbar-brand">gView.Server</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="" onclick="window.gview.manage.pageServices(); return false;">Services</a></li>
                    <li><a href="" onclick="window.gview.manage.pageSecurity(); return false;">Security</a></li>
                </ul>
            </div>
        </div>
    </nav>*@

<h1>Manage</h1>
<table style="font-size:1.5em">
    <tr>
        <td>
            <a href="" onclick="window.gview.manage.pageServices(); return false;">Services</a>
        </td>
        <td>
            &nbsp;/&nbsp;
        </td>
        <td>
            <a href="" onclick="window.gview.manage.pageSecurity(); return false;">Security</a>
        </td>
    </tr>
</table>
<br/>
<div class="gview-manage-body">

</div>

@Html.AntiForgeryToken()

@section Scripts {

    <environment include="Development">
        <script src="~/js/manage.js?@(SystemInfo.Version.ToString())"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/manage.js?@(SystemInfo.Version.ToString())"></script>
    </environment>

    <script type="text/javascript">

        window.require = { paths: { vs: '@(UrlHelperService.AppRootUrl(this.Context.Request))/lib/monaco-editor/min/vs' } };

        (function () {
            window.gview.manage.setRootUrl('@(UrlHelperService.AppRootUrl(this.Context.Request))')
            window.gview.manage.pageServices();
        })();
    </script>

    <script src="~/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="~/lib/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="~/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
}

