<li><a href="" onclick="window.gview.manage.pageServices(); return false;">Manage Services</a></li>
<li><a href="" onclick="window.gview.manage.pageSecurity(); return false;">Manage Security (Users)</a></li>