body {
    overflow: hidden !important;
}

/***** Header ******/
.webportal-header {
    height: 57px !important;
    margin: 0px !important;
    border: none !important;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
}

/***** Footer *******/
.webportal-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
    background-color: #000;
    color: #fff;
}

/****** Container ********/
.webportal-container {
    display: flex;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: auto !important;
}

.webportal-main {
    text-align: center;
}

.webportal-main-container {
    max-width: 1100px;
    margin: 0px auto;
    text-align: left;
}

.webportal-main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 250px;
    overflow: auto;
    padding: 0px 4px;
    /*transition: left .25s ease-in;*/
}


.webportal-sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 250px;
    height: 100%;
    font-size: 13px;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #444;
    color: white;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    /*transition: width .25s ease-in;*/
}

    .webportal-sidebar .webportal-sidebar-items {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .webportal-sidebar .webportal-sidebar-items.center {
            height: calc(100% - 270px);
            overflow: auto;
        }

        .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item {
            padding: 8px;
            cursor: pointer;
        }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item:hover {
                background-color: #888;
            }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item a {
                color: white;
                text-decoration: none;
            }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item img {
                margin-right: 5px;
            }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item.resource img {
                max-width:26px;
                max-height:26px;
            }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item hr {
                background-color: #aaa;
                margin: 0px;
            }

            .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item.hr {
                height: 20px;
                overflow: hidden;
            }

                .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item.hr:hover {
                    background-color: transparent;
                    cursor: default;
                }

                .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item.hr .text {
                    position: relative;
                    top: -11px;
                    background-color: #444;
                    display: inline-block;
                    padding: 0px 10px;
                    margin-left: 24px;
                    color: #aaa;
                }


.webportal-container.page-has-header .webportal-main,
.webportal-container.page-has-header .webportal-sidebar {
    top: 57px;
}

.webportal-container.page-has-footer .webportal-main,
.webportal-container.page-has-footer .webportal-sidebar {
    bottom: 37px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #333;
        color:#eee;
    }

    .webportal-header {
        height: 50px !important;
    }

    .webportal-container.page-has-header .webportal-main,
    .webportal-container.page-has-header .webportal-sidebar {
        top: 50px;
    }

    .webportal-main {
        left: 42px;
    }

    .webportal-sidebar {
        width: 42px;
    }

        .webportal-sidebar .webportal-sidebar-items .webportal-sidebar-item a {
            display: none;
        }
}


