/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#333;
    color:#ccc;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a {
    color: #72b5ef;
    text-decoration: none;
}

ul {
    list-style: none;
}

.html-body {
    padding:3px;
}

.code-block {
    padding: 8px;
    background-color: #222;
    border: solid 1px #ccc;
    border-radius: 6px;
    overflow: auto;
}

.yaml-code {
    font-family: Courier New, Courier, monospace;
    font-size:14px;
}

.yaml-code .yaml-comment {
    color:#0a0;
    font-weight:bold;
}

.yaml-code .property-name,
.yaml-code .property-value{
    display:inline-block;
}
.yaml-code .property-name {
    font-weight:bold;
}

.yaml-code .property-name.array {
    display:block;
}

.html-body form {
    background-color: #555;
    margin: 10px auto;
    border-radius: 8px;
    padding: 12px;
    color: #ddd;
}

.html-body form table {
    width:100%
}

.html-body form table td {
    padding:5px;
}

    .html-body form table td.input {
        width: 100%;
    }
        .html-body form table td.input * {
            min-width: 100%;
            padding: 4px 10px;
            background: #222;
            border: 1px solid #333;
            border-radius: 6px;
        }

        .html-body form table td button {
            padding: 4px 10px;
            background: #5c6874;
            border-radius: 6px;
            border:none;
            color:#eee;
        }
            .html-body form table td button:hover {
                background: #888;
            }

.html-body a {
    color: #fff;
    text-decoration: none;
    background-color: #5c6874;
    padding: 1px 10px;
    border-radius: 15px;
    margin: 0px 4px 4px 0px;
    display: inline-block;
}


/***** Header *******/
.webportal-layout-header.navbar {
    background-color:#222;
}
/***** Footer *******/
.webportal-layout-footer .version {
    float: right;
}

/****** Menu *********/

.login-button{
    position:absolute;
    right:20px;
    top:16px;
}

@media(max-width:768px) {
    .login-button {
        right: 70px;
    }
}

/****** Home *********/

.gview-header-brand {
    background-image: url('../images/logos/gis_logo_no_shadow.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 21px;
    display: inline-block;
    padding-left: 30px;
    margin-left: -8px;
}

/*.gview-header-brand:hover {
    color: #0094ff;
}*/

.navbar-inverse .navbar-nav > li > a {
    color:rgba(0, 0, 0, .4);
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #0094ff;
}

.webportal-layout-sidebar,
.webportal-layout-sidebar .webportal-layout-sidebar-items .webportal-layout-sidebar-item.hr .text {
    background-color: #5c6874;
}

.main-logo {
    display: block;
    text-align: center;
    max-width: 602px;
    height: 602px;
    background-image: url(../images/banner0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px auto;
    border-radius: 20px;
    margin-top: 19px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
}
    .main-logo .text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        color: #5c6874;
        font-size: 28px;
        white-space:nowrap;
    }

.main-nav-panels {
    display: block;
    text-align:center;
}

    .main-nav-panels .main-nav-panel {
        width: 150px;
        height: 100px;
        display: inline-block;
        position: relative;
        background-color: #5c6874;
        background-position: center 20px;
        background-repeat: no-repeat;
        margin: 10px;
        border-radius: 6px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
    }

        .main-nav-panels .main-nav-panel .text {
            color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 30px;
            text-align: center;
            font-weight: lighter;
            padding: 5px;
        }

        .main-nav-panels .main-nav-panel.browse {
            background-image: url('../images/icons/browse-50-w.png');
        }
        .main-nav-panels .main-nav-panel.geoservices {
            background-image: url('../images/icons/geoservices-50-w.png');
        }
        .main-nav-panels .main-nav-panel.manage {
            background-image: url('../images/icons/manage-50-w.png');
        }
            .main-nav-panels .main-nav-panel.manage.required {
                background-color: #ff0000;
            }
    .main-nav-panels .disabled {
        opacity: .25;
    }

/****** Browse **********/
table.service-capabilities {
    width: 100%;
    border-top: 1px solid #ddd;
    /*border-left: 1px solid #ddd;*/
}

    table.service-capabilities td,
    table.service-capabilities th {
        /*width: 100%;*/
        border-bottom: 1px solid #555;
        /*border-right: 1px solid #ddd;*/
        padding:4px;
    }

    table.service-capabilities tr.interpreter {
        background-color: #5c6874;
        color: #fff;
    }
    table.service-capabilities tr.interpreter td.interpreter-name {
        font-weight:bold;
    }

    table.service-capabilities tr.interpreter-capabilities {
        cursor: pointer;
    }
        table.service-capabilities tr.interpreter-capabilities:hover {
            background-color: #222;
        }

ul.browseservices{
    padding:0px;
}

    ul.browseservices li {
        padding: 4px 4px 4px 36px;
        cursor:pointer;
        position:relative;
        height:32px;
        background-position:4px center;
        background-repeat:no-repeat;
    }
        ul.browseservices li:hover {
            background-color:#222;
        }

        ul.browseservices li.back {
            background-image: url('../images/icons/back-26-b.png');
        }
        ul.browseservices li.folder {
            background-image: url('../images/icons/folder-26-b.png');
            font-weight:bold;
        }
        ul.browseservices li.service {
            background-image: url('../images/icons/service-26-b.png');
        }

        ul.browseservices li .button-delete-service {
            width: 32px;
            height: 32px;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0px;
            background-image: url('../images/icons/delete-26-g.png');
            background-repeat: no-repeat;
            background-position: center;
        }
            ul.browseservices li .button-delete-service:hover {
                background-image: url('../images/icons/delete-26-b.png');
            }

.gview5-error-message {
    background-color:#ff8888;
    color:white;
    border:2px solid #ff0000;
    border-radius:5px;
    padding:10px;
}

.gview5-warning-message {
    background-color: #ffff88;
    color: white;
    border: 2px solid #ffff00;
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.gview5-success-message {
    background-color: #ccffcc;
    color: white;
    border: 2px solid #88ff88;
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.gview5-form-upload {
    padding: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    color:#333;
}

    form .gview5-form-header {
        cursor: pointer;
    }
        form .gview5-form-header h4 {
            padding-left: 6px;
        }

    .gview5-form-upload .gvies5-form-upload-body {

    }

    .gview5-form-upload .gview5-form-upload-body.hidden {
        display:none;
    }

    .gview5-form-upload .label {
        color:#808080;
        font-size:1em;
    }

    .gview5-form-upload .attribute {
        margin-bottom:10px;
    }

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px 6px 36px;
    cursor: pointer;
    background-image: url('../images/icons/upload-26-b.png');
    background-repeat:no-repeat;
    background-position: 4px center;
}

/****** Manage **********/
*:focus {
    outline: none;
}

.gview5-login-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    background-color: white;
    padding: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    color: #333;
}

    .gview5-login-panel .title * {
        display: inline-block;
        margin: 0px;
    }

    .gview5-login-panel .title img {
        margin-right: 5px;
    }

    .gview5-login-panel .error-message {
        padding: 10px;
        background: #ffaaaa;
        border: 1px solid #ff0000;
        border-radius: 8px;
        color: #ff0000;
    }

.gview-manage-body {
    position: relative;
    /*left: 0px;
    top: 52px;
    right:0px;
    bottom:0px;
    overflow:auto;
    background-color: white;*/
}

    .gview-manage-body .container {
        position: relative;
        background: #f8f8f8;
        color:#333;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        max-height: 400px;
        overflow: auto;
        margin-bottom: 16px;
    }

        .gview-manage-body .container .info {
            background: #ffc;
            padding: 8px;
            border-radius: 8px;
            margin: 0px 0px 8px 0px;
        }

    .gview-manage-body .folders,
    .gview-manage-body .users,
    .gview-manage-body .urltokens {
        display: inline-block;
        width: 200px;
        list-style: none;
        padding: 0px;
        margin-top: 22px;
    }
        .gview-manage-body .folders .folder,
        .gview-manage-body .users .user,
        .gview-manage-body .urltokens .urltoken {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            height: 43px;
            position: relative;
        }
            .gview-manage-body .folders .folder.selected,
            .gview-manage-body .users .user.selected,
            .gview-manage-body .urltokens .urltoken.selected {
                background: #5c6874;
                color: white;
            }
            .gview-manage-body .folders .folder:hover,
            .gview-manage-body .users .user:hover,
            .gview-manage-body .urltokens .urltoken:hover {
                background: #eee;
            }

    .gview-manage-body .services {
        list-style: none;
        padding: 0px 0px 0px 15px;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 200px);
        min-width: 300px;
        margin-top: 22px;
    }
        .gview-manage-body .services .service {
            padding: 8px;
            border: 1px solid #ddd;
            cursor: pointer;
            margin: 0px 3px 3px 3px;
            border-radius: 4px;
        }

            .gview-manage-body .services .service:hover {
                background: #eee;
            }

            .gview-manage-body .services .service.stopped {
                /*background-color:#ffffcc;*/
                opacity: .25;
            }
            .gview-manage-body .services .service.running {
                background-color: #ccffcc;
            }
            .gview-manage-body .services .service.has-errors {
                background-color: #ffcccc;
            }
            .gview-manage-body .services .service.stopped.has-errors {
                /*background-color: #ffeecc;*/
            }

    .gview-manage-body .user-properties,
    .gview-manage-body .urltoken-properties {
        display: inline-block;
        padding-left: 15px;
        vertical-align: top;
        width: calc(100% - 220px);
        min-width: 250px;
    }

    .gview-manage-body .form {
        display:block;
    }

    .gview-manage-body .form .form-error{
        width:100%;
        background:#ffcccc;
        border:1px solid red;
        padding:10px;
        border-radius:5px;
    }

    .gview-manage-body .form .form-input .label,
    .modal-dialog .form-input .label {
        position:relative;
        top:14px;
        left:5px;
        background:#fff;
        color:#0094ff;
        text-align:left;
    }
.gview-manage-body .form .form-input input,
.modal-dialog .form-input input {
    max-width: 650px;
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #0094ff;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
}

    .modal-dialog .form-input input {
        width: 100%;
    }

.modal-dialog .section {
    margin-top: 10px;
    background: #0094ff47;
    padding: 10px;
    border-radius: 5px;
}

.gview-manage-body button {
    background: #5c6874;
    color: #fff;
    border: 1px solid #5c6874;
    border-radius: 19px;
    padding: 8px 20px;
}

.gview5-modal-blocker {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);
    z-index:99999;
}

    .gview5-modal-blocker .modal-dialog {
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
        bottom: 20%;
        background: #fff;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
        margin:0px;
        width:auto;
    }

        .gview5-modal-blocker .modal-dialog .modal-title {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 40px;
            font-size: 22px;
            padding: 6px;
        }

        .gview5-modal-blocker .modal-dialog .modal-body {
            position: absolute;
            top: 40px;
            left: 0px;
            right: 0px;
            bottom: 40px;
            padding: 6px;
            box-shadow: none;
        }

        .gview5-modal-blocker .modal-dialog .modal-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 40px;
            padding: 6px;
        }

        .gview5-modal-blocker .modal-dialog .modal-footer button {
            min-width:100px;
            border-radius:5px;
            min-height:28px;
            background-color:#fff;
            color:#808080;
            border:1px solid #808080;
            margin-left:5px;
        }
            .gview5-modal-blocker .modal-dialog .modal-footer button:hover {
                background-color:#808080;
                color:#fff;
            }
            .gview5-modal-blocker .modal-dialog .modal-footer button.button-ok {
                background-color:#0094ff;
                color:#fff;
            }

@media(max-width:640px) {
    .gview5-login-main {
        overflow: auto;
        background-image: none;
        background-color: white;
    }

    .gview5-login-panel {
        left: 0px;
        right: 0px;
        top: 0px;
        height: 100%;
        -webkit-transform: none;
        transform: none;
    }

    .gview-manage-body {
        width: auto;
        height: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }

    .gview5-modal-blocker .modal-dialog {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width:auto;
    }
}


.gview-manage-body .service .toolbar {
    float: right;
    background-color: #fff;
    height: 40px;
}
.gview-manage-body .folder .toolbar {
    position:absolute;
    right:1px;
    top:1px;
    background-color:#fff;
    height:40px;
}

.gview-manage-body .service .toolbar .icon,
.gview-manage-body .folder  .toolbar .icon {
    display:inline-block;
    width:36px;
    height:36px;
    background-repeat:no-repeat;
    background-position:center;
    margin:2px;
    border:1px solid #efefef;
}


.icon.clickable {
    cursor:pointer;
}
.icon.clickable:hover {
    background-color:#0094ff;
}
    .icon.clickable.loading {
        background-image: url('../images/icons/loader1.gif') !important;
    }

.icon.settings {
    background-image: url('../images/icons/settings-b-26.png');
}
    .icon.settings.gray {
        background-image: url('../images/icons/settings-g-26.png');
    }
.icon.security1 {
    background-image: url('../images/icons/security1-b-26.png');
}
    .icon.security1.gray {
        background-image: url('../images/icons/security1-g-26.png');
    }
.icon.security0 {
    background-image: url('../images/icons/security0-b-26.png');
}

    .icon.security0.gray {
        background-image: url('../images/icons/security0-g-26.png');
    }
.icon.start {
    background-image: url('../images/icons/start-b-26.png');
}
    .icon.start.gray {
        background-image: url('../images/icons/start-g-26.png');
    }
.icon.stop {
    background-image: url('../images/icons/stop-b-26.png');
}

    .icon.stop.gray {
        background-image: url('../images/icons/stop-g-26.png');
    }
.icon.refresh {
    background-image: url('../images/icons/refresh-b-26.png');
}

    .icon.refresh.gray {
        background-image: url('../images/icons/refresh-g-26.png');
    }
.icon.log {
    background-image: url('../images/icons/log-b-26.png');
}

    .icon.log.gray {
        background-image: url('../images/icons/log-g-26.png');
    }

.error-logs {
    overflow:auto;
}

.error-logs ul {
    padding:0px;
}

.error-logs li {
    padding:2px;
    white-space:nowrap;
    border-bottom:1px solid #ddd;
}

.service-security {
    overflow:auto;
}

    .service-security table {
        width: 100%;
        border-left:1px solid #ddd;
        border-top:1px solid #ddd;
    }

    .service-security table tr {
        height:30px;
        border-bottom:1px solid #ddd;
    }

        .service-security table th,
        .service-security table td {
            border-right:1px solid #ddd;
            padding:5px;
        }

            .service-security table th.rule,
            .service-security table td.rule {
                text-align: center;
            }

            .service-security table td.remove {
                text-align:center;
                color:red;
                cursor:pointer;
            }