/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

ul {
    list-style: none;
}

.html-body {
    padding:3px;
}

.code-block {
    padding: 8px;
    background-color: #ddd;
    border: solid 1px #ccc;
    border-radius: 4px;
    overflow:auto;
}

.yaml-code {
    font-family: Courier New, Courier, monospace;
    font-size:14px;
}

.yaml-code .property-name,
.yaml-code .property-value{
    display:inline-block;
}
.yaml-code .property-name {
    font-weight:bold;
}

.yaml-code .property-name.array {
    display:block;
}

.html-body form  {
    background-color:#eee;
}

.html-body form table {
    width:100%
}

.html-body form table td {
    padding:5px;
}

    .html-body form table td.input {
        width: 100%;
    }
    .html-body form table td.input * {
        min-width:100%;
    }


/****** Menu *********/

.login-button{
    position:absolute;
    right:20px;
    top:16px;
}

@media(max-width:768px) {
    .login-button {
        right: 70px;
    }
}

/****** Browse **********/

table.service-capabilities {
    width: 100%;
    border-top: 1px solid #ddd;
    /*border-left: 1px solid #ddd;*/
}

    table.service-capabilities td,
    table.service-capabilities th {
        width: 100%;
        border-bottom: 1px solid #ddd;
        /*border-right: 1px solid #ddd;*/
        padding:4px;
    }

    table.service-capabilities tr.interpreter {
        background-color:#0094ff;
        color:#fff;
    }
    table.service-capabilities tr.interpreter td.interpreter-name {
        font-weight:bold;
    }

    table.service-capabilities tr.interpreter-capabilities {
        cursor: pointer;
    }
        table.service-capabilities tr.interpreter-capabilities:hover {
            background-color: #eee;
        }

ul.browseservices{
    padding:0px;
}

    ul.browseservices li {
        padding: 4px;
        cursor:pointer;
    }
        ul.browseservices li:hover {
            background-color:#eee;
        }

/****** Manage **********/
*:focus {
    outline: none;
}

.gview5-login-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    background-color: white;
    padding: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
}

    .gview5-login-panel .title * {
        display: inline-block;
        margin: 0px;
    }

    .gview5-login-panel .title img {
        margin-right: 5px;
    }

    .gview5-login-panel .error-message {
        padding: 10px;
        background: #ffaaaa;
        border: 1px solid #ff0000;
        border-radius: 8px;
        color: #ff0000;
    }

.gview5-manage-body {
    position: relative;
    /*left: 0px;
    top: 52px;
    right:0px;
    bottom:0px;
    overflow:auto;*/
    background-color: white;
    padding: 15px;
}
    .gview5-manage-body .folders, 
    .gview5-manage-body .users {
        position:absolute;
        top:0px;
        left:0px;
        bottom:0px;
        width: 200px;
        list-style: none;
        padding:0px;
    }
        .gview5-manage-body .folders .folder,
        .gview5-manage-body .users .user {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }
        .gview5-manage-body .folders .folder.selected,
        .gview5-manage-body .users .user.selected {
            background:#0094ff;
            color:white;
        }
        .gview5-manage-body .folders .folder:hover,
        .gview5-manage-body .users .user:hover {
            background:#eee;
        }

    .gview5-manage-body .services {
        position: absolute;
        top: 0px;
        left: 200px;
        bottom: 0px;
        right:0px;
        list-style: none;
        padding: 0px;
    }
        .gview5-manage-body .services .service {
            padding: 8px;
            border: 1px solid #ddd;
            cursor: pointer;
            margin: 0px 3px 3px 3px;
            border-radius: 4px;
        }

            .gview5-manage-body .services .service:hover {
                background: #eee;
            }

            .gview5-manage-body .services .service.stopped {
                background-color:#ffffcc;
            }
            .gview5-manage-body .services .service.running {
                background-color: #ccffcc;
            }
            .gview5-manage-body .services .service.has-errors {
                background-color: #ffcccc;
            }
            .gview5-manage-body .services .service.stopped.has-errors {
                background-color: #ffeecc;
            }

    .gview5-manage-body .user-properties {
        position:absolute;
        left:200px;
        top:0px;
        right:0px;
        border:0px;
        padding-left:15px;
    }

    .gview-manage-body .form {
        display:block;
    }

    .gview5-manage-body .form .form-error{
        width:100%;
        background:#ffcccc;
        border:1px solid red;
        padding:10px;
        border-radius:5px;
    }

    .gview5-manage-body .form .form-input .label {
        position:relative;
        top:14px;
        left:5px;
        background:#fff;
        color:#0094ff;
        text-align:left;
    }
    .gview5-manage-body .form .form-input input {
        min-width:250px;
        margin:5px 0px;
        border:1px solid #0094ff;
        border-radius:5px;
        padding:10px 5px 5px 5px;
    }

    .gview5-manage-body button {
        background:#0094ff;
        color:#fff;
        border:1px solid #0026ff;
        border-radius:4px;
        padding:8px;
    }

.gview5-modal-blocker {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);
    z-index:99999;
}

    .gview5-modal-blocker .modal-dialog {
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
        bottom: 20%;
        background: #fff;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
        margin:0px;
        width:auto;
    }

        .gview5-modal-blocker .modal-dialog .modal-title {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 40px;
            font-size: 22px;
            padding: 6px;
        }

        .gview5-modal-blocker .modal-dialog .modal-body {
            position: absolute;
            top: 40px;
            left: 0px;
            right: 0px;
            bottom: 40px;
            padding: 6px;
            box-shadow: none;
        }

        .gview5-modal-blocker .modal-dialog .modal-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 40px;
            padding: 6px;
        }

        .gview5-modal-blocker .modal-dialog .modal-footer button {
            min-width:100px;
            border-radius:5px;
            min-height:28px;
            background-color:#fff;
            color:#808080;
            border:1px solid #808080;
            margin-left:5px;
        }
            .gview5-modal-blocker .modal-dialog .modal-footer button:hover {
                background-color:#808080;
                color:#fff;
            }
            .gview5-modal-blocker .modal-dialog .modal-footer button.button-ok {
                background-color:#0094ff;
                color:#fff;
            }

@media(max-width:640px) {
    .gview5-login-main {
        overflow: auto;
        background-image: none;
        background-color: white;
    }

    .gview5-login-panel {
        left: 0px;
        right: 0px;
        top: 0px;
        height: 100%;
        -webkit-transform: none;
        transform: none;
    }

    .gview5-manage-body {
        width: auto;
        height: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }

    .gview5-modal-blocker .modal-dialog {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width:auto;
    }
}

.gview5-manage-body .service .toolbar {
    float:right;
    background-color:#fff;
    height:40px;
}

.gview5-manage-body .service .toolbar .icon {
    display:inline-block;
    width:36px;
    height:36px;
    background-repeat:no-repeat;
    background-position:center;
    margin:2px;
    border:1px solid #efefef;
}

.icon.clickable {
    cursor:pointer;
}
.icon.clickable:hover {
    background-color:#0094ff;
}

.icon.settings {
    background-image: url('../images/icons/settings-b-26.png');
}
    .icon.settings.gray {
        background-image: url('../images/icons/settings-g-26.png');
    }
.icon.security1 {
    background-image: url('../images/icons/security1-b-26.png');
}
    .icon.security1.gray {
        background-image: url('../images/icons/security1-g-26.png');
    }
.icon.security0 {
    background-image: url('../images/icons/security0-b-26.png');
}

    .icon.security0.gray {
        background-image: url('../images/icons/security0-g-26.png');
    }
.icon.start {
    background-image: url('../images/icons/start-b-26.png');
}
    .icon.start.gray {
        background-image: url('../images/icons/start-g-26.png');
    }
.icon.stop {
    background-image: url('../images/icons/stop-b-26.png');
}

    .icon.stop.gray {
        background-image: url('../images/icons/stop-g-26.png');
    }
.icon.refresh {
    background-image: url('../images/icons/refresh-b-26.png');
}

    .icon.refresh.gray {
        background-image: url('../images/icons/refresh-g-26.png');
    }
.icon.log {
    background-image: url('../images/icons/log-b-26.png');
}

    .icon.log.gray {
        background-image: url('../images/icons/log-g-26.png');
    }

.error-logs {
    overflow:auto;
}

.error-logs ul {
    padding:0px;
}

.error-logs li {
    padding:2px;
    white-space:nowrap;
    border-bottom:1px solid #ddd;
}

.service-security {
    overflow:auto;
}

    .service-security table {
        width: 100%;
        border-left:1px solid #ddd;
        border-top:1px solid #ddd;
    }

    .service-security table tr {
        height:30px;
        border-bottom:1px solid #ddd;
    }

        .service-security table th,
        .service-security table td {
            border-right:1px solid #ddd;
            padding:5px;
        }

            .service-security table th.rule,
            .service-security table td.rule {
                text-align: center;
            }

            .service-security table td.remove {
                text-align:center;
                color:red;
                cursor:pointer;
            }