/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

ul {
    list-style: none;
}

.html-body {
    padding:10px;
}

.code-block {
    padding: 8px;
    background-color: #ddd;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.yaml-code {
    font-family: Courier New, Courier, monospace;
    font-size:14px;
}

.yaml-code .property-name,
.yaml-code .property-value{
    display:inline-block;
}
.yaml-code .property-name {
    font-weight:bold;
}

.yaml-code .property-name.array {
    display:block;
}

.html-body form  {
    background-color:#eee;
}

.html-body form table {
    width:100%
}

.html-body form table td {
    padding:5px;
}

    .html-body form table td.input {
        width: 100%;
    }
    .html-body form table td.input * {
        min-width:100%;
    }


/******Manage **********/

*:focus {
    outline: none;
}

.gview5-login-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    background-color: white;
    padding: 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .4) !important;
}

    .gview5-login-panel .title * {
        display: inline-block;
        margin: 0px;
    }

    .gview5-login-panel .title img {
        margin-right: 5px;
    }

    .gview5-login-panel .error-message {
        padding: 10px;
        background: #ffaaaa;
        border: 1px solid #ff0000;
        border-radius: 8px;
        color: #ff0000;
    }

.gview5-manage-body {
    position: absolute;
    left: 0px;
    top: 52px;
    right:0px;
    bottom:0px;
    overflow:auto;
    background-color: white;
    padding: 15px;
}
    .gview5-manage-body .folders, 
    .gview5-manage-body .users {
        position:absolute;
        top:0px;
        left:0px;
        bottom:0px;
        width: 200px;
        list-style: none;
        padding:0px;
    }
        .gview5-manage-body .folders .folder,
        .gview5-manage-body .users .user {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }
        .gview5-manage-body .folders .folder.selected,
        .gview5-manage-body .users .user.selected {
            background:#0094ff;
            color:white;
        }
        .gview5-manage-body .folders .folder:hover,
        .gview5-manage-body .users .user:hover {
            background:#eee;
        }

    .gview5-manage-body .services {
        position: absolute;
        top: 0px;
        left: 200px;
        bottom: 0px;
        right:0px;
        list-style: none;
        padding: 0px;
    }
        .gview5-manage-body .services .service {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }

            .gview5-manage-body .services .service:hover {
                background: #eee;
            }

    .gview5-manage-body .user-properties {
        position:absolute;
        left:200px;
        top:0px;
        right:0px;
        border:0px;
        padding-left:15px;
    }

    .gview-manage-body .form {

    }

    .gview5-manage-body .form .form-error{
        width:100%;
        background:#ffcccc;
        border:1px solid red;
        padding:10px;
        border-radius:5px;
    }

    .gview5-manage-body .form .form-input .label {
        position:relative;
        top:14px;
        left:5px;
        background:#fff;
        color:#0094ff;
        text-align:left;
    }
    .gview5-manage-body .form .form-input input {
        min-width:250px;
        margin:5px 0px;
        border:2px solid #0094ff;
        border-radius:5px;
        padding:10px 5px 5px 5px;
    }

    .gview5-manage-body button {
        background:#0094ff;
        color:#fff;
        border:1px solid #0026ff;
        border-radius:4px;
        padding:8px;
    }

@media(max-width:640px) {
    .gview5-login-main {
        overflow: auto;
        background-image: none;
        background-color: white;
    }

    .gview5-login-panel {
        left: 0px;
        right: 0px;
        top: 0px;
        height: 120%;
        -webkit-transform: none;
        transform: none;
        width: auto;
    }

    .gview5-manage-body {
        width: auto;
        height: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
        -webkit-transform: translate(0px);
        transform: translate(0px);
    }
}