@using gView.Server.AppCode
@inject gView.Server.Services.Hosting.UrlHelperService UrlHelperService
@inject gView.Server.Services.Security.LoginManager LoginManager
@{
    var username = LoginManager.LoginUsername(this.Context.Request);
    var isManageUser = LoginManager.IsManageUser(this.Context.Request);
}


<li><a asp-area="" asp-controller="BrowseServices" asp-action="Index">Browse Services</a></li>
<li><a href="@(UrlHelperService.AppRootUrl(this.Context.Request))/geoservices/rest/services">GeoServices (REST)</a></li>
@if (isManageUser || (Globals.AllowFormsLogin && (isManageUser == true || String.IsNullOrWhiteSpace(username))))
{
    <li><a asp-area="" asp-controller="Manage" asp-action="Index">Manage</a></li>
}

