.carto-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #0094ff;
    user-select: none;
}

    .carto-main .toolbar {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 100px;
        background: #ccc;
    }

        .carto-main .toolbar .carto-tool-box {
            height: 96px;
            display: inline-block;
            vertical-align: top;
            margin: 2px;
            border-radius: 4px;
        }

            .carto-main .toolbar .carto-tool-box .carto-tool {
                height: 94px;
                display: inline-block;
                text-align: center;
                padding: 8px;
                margin: 0px 2px;
                max-width: 120px;
                vertical-align: top;
                border: 1px solid transparent;
                cursor: pointer;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 0.9em;
            }

        .carto-main .toolbar .carto-tool:hover {
            background-color: #0094ff46;
            border: 1px solid #0094ff;
            box-sizing: border-box;
        }

        .carto-main .toolbar .carto-tool-box .carto-tool-sub-box {
            position: relative;
            display: inline-block;
            height: 96px;
            vertical-align: top;
        }

            .carto-main .toolbar .carto-tool-box .carto-tool-sub-box > .title {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 20px;
                text-align: center;
                color: #888;
                font-size: 11px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .carto-main .toolbar .carto-tool-box .carto-tool-sub-box .carto-tool {
                height: 74px;
            }

            .carto-main .toolbar .carto-tool-box .carto-tool-sub-box .explorer-context-tool {
                height: 37px;
                overflow: hidden;
                padding: 4px 7px;
            }

                .carto-main .toolbar .carto-tool-box .carto-tool-sub-box .explorer-context-tool:hover {
                    background-color: #0094ff46;
                    border: 1px solid #0094ff;
                    box-sizing: border-box;
                }

                .carto-main .toolbar .carto-tool-box .carto-tool-sub-box .explorer-context-tool .title {
                    display: inline-block;
                    vertical-align: top;
                }

    .carto-main .toc {
        position: absolute;
        left: 0px;
        top: 102px;
        bottom: 27px;
        width: 300px;
        /*background: #fff;*/
        overflow: auto;
    }

    .carto-main .toc-content-splitter {
        position: absolute;
        left: 300px;
        width: 5px;
        top: 102px;
        bottom: 27px;
        cursor: w-resize;
    }

    .carto-main .content {
        position: absolute;
        left: 305px;
        top: 102px;
        right: 0px;
        bottom: 27px;
        background: #efefef;
        overflow: auto;
        padding: 0px;
    }

        .carto-main .content .mud-tabs {
            position: absolute;
            inset: 0px 0px 0px 0px;
        }

            .carto-main .content .mud-tabs .mud-tabs-panels {
                position: absolute;
                inset: 49px 0px 0px 0px;
                overflow: auto;
            }

                .carto-main .content .mud-tabs .mud-tabs-panels .mud-table-container {
                    overflow: unset !important;
                }

    .carto-main .status-bar {
        position: absolute;
        left: 0px;
        bottom: 0px;
        right: 0px;
        height: 25px;
        background: #aaa;
        overflow: hidden;
    }

.table-column-icon {
    width: 30px;
}

.tocnode.selected > li > div:first-child {
    background: #0078d476;
    color: #333;
}

.carto-main .context-selected {
    background: #ffff00a9;
}

.carto-main .current-selected {
    background: #0078d476;
}

/**** Darkmode ****/
.carto-main.dark .content {
    background: #333;
}

.explorer-dialog-item.selected {
    background: #0078d476 !important;
}

.carto-main.dark .toolbar {
    background: #333;
}

.carto-main.dark .context-selected {
    background: #555500a9;
}

.carto-main.dark .status-bar {
    background: #333;
}

.carto-main.dark .sketchpen-icon-basic-bg-light-24 {
    background-image: url(../../../sketchpen/basic/content/img/sketchpen/bg-dark/24/1/sprite.png) !important;
}

.carto-main.dark .sketchpen-icon-webgis-bg-light-24 {
    background-image: url(../../../sketchpen/webgis/content/img/sketchpen/bg-dark/24/1/sprite.png) !important;
}


@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

    .carto-main.dark .sketchpen-icon-basic-bg-light-24 {
        background-image: url("../../../sketchpen/basic/content/img/sketchpen/bg-dark/24/1.5/sprite.png") !important;
    }

    .carto-main.dark .sketchpen-icon-webgis-bg-light-24 {
        background-image: url("../../../sketchpen/webgis/content/img/sketchpen/bg-dark/24/1.5/sprite.png") !important;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .carto-main.dark .sketchpen-icon-basic-bg-light-24 {
        background-image: url("../../../sketchpen/basic/content/img/sketchpen/bg-dark/24/2/sprite.png") !important;
    }

    .carto-main.dark .sketchpen-icon-webgis-bg-light-24 {
        background-image: url("../../../sketchpen/webgis/content/img/sketchpen/bg-dark/24/2/sprite.png") !important;
    }
}


/* Icons */
.sketchpen-icon-basic-bg-light-24 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* MudBlazor overrides */
.mud-select-input > .explorer-dialog-root-select-item {
    padding-left: 0px !important;
}

.mud-list-item .mud-icon-button {
    padding: 2px 6px 2px 2px !important;
}

.mud-list-item .mud-icon-root {
    margin-right: 6px;
}

.mud-table-cell {
    white-space: nowrap;
}
