@using gView.Framework.Core.Network

@inherits BaseHandler
@implements IDisposable

@inject ICartoApplicationScopeService AppScope
@inject CartoEventBusService EventBus
@inject IconService Icons

@if (_networkContext?.CurrentNetworkLayer is not null)
{
    <div class="@($"carto-tool {(_networkContext.ContextTool == NetowrkContextTool.SetStartNode ? "selected" : "")}")"
         alt="Start Node"
         @onclick="() => SetContextTool(NetowrkContextTool.SetStartNode)">
        <div class=@Icons.FromString("webgis:flag")></div>
        <div class="title">Start Node</div>
    </div>

    <div class="@($"carto-tool {(_networkContext.ContextTool == NetowrkContextTool.SetTargetNode ? "selected" : "")}")"
         alt="Target Node"
         @onclick="() => SetContextTool(NetowrkContextTool.SetTargetNode)">
        <div class=@Icons.FromString("webgis:flag")></div>
        <div class="title">Target Node</div>
    </div>
}

@code {
    private NetworkContext? _networkContext;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _networkContext = AppScope.Tools.GetCurrentToolContext<NetworkContext>();
    }

    private void SetContextTool(NetowrkContextTool contextTool)
    {
        if (_networkContext is null)
        {
            return;
        }

        if(contextTool == _networkContext.ContextTool)
        {
            _networkContext.ContextTool = NetowrkContextTool.None;
        } 
        else
        {
            _networkContext.ContextTool = contextTool;    
        }
    }

    public void Dispose()
    {

    }
}