.main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background:#0094ff;
}

    .main .toolbar {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 60px;
        background:#ccc;
    }

    .main .tree {
        position: absolute;
        left: 0px;
        top: 62px;
        bottom: 0px;
        width: 300px;
        background:#fff;
        overflow:auto;
    }

    .main .content {
        position: absolute;
        left: 302px;
        top: 62px;
        right: 0px;
        bottom: 0px;
        background:#efefef;
    }