<div class="dataexplorer-main">

    <MudPaper Class="toolbar" Elevation="2">
        <ToolRibbon />
    </MudPaper>

    <MudPaper Class="navigation-bar" Elevation="2">
        <NavBar />
    </MudPaper>

    <MudPaper Class="content" Elevation="2">
        <ContentView />
    </MudPaper>

    <MudPaper Class="tree" Elevation="2">
        <NavTree />
    </MudPaper>

    <MudPaper Class="status-bar" Elevation="2">
        <StatusBar />
    </MudPaper>

</div>

@code{
   
}