<div class="dataexplorer-main">

    <MudPaper Class="toolbar" Elevation="2">
        <ToolRibbon />
    </MudPaper>

    <MudPaper Class="tree" Elevation="2">
        <NavTree @bind-SelectedNode="SelectedTreeNode" />
    </MudPaper>
    
    <MudPaper Class="content" Elevation="2">
        <ContentView SelectedTreeNode="@SelectedTreeNode" />
    </MudPaper>

</div>

@code{
    public ExplorerTreeNode? SelectedTreeNode{ get; set; }
}