<div class="main">
    <h1>app</h1>

    <div class="toolbar">
        <ToolRibbon />
    </div>

    <div class="tree">
        <NavTree />
    </div>
    
    <div class="content">
        <ContentView />
    </div>

</div>