@inherits GvLayoutBaseElement

<MudCardContent Style="padding:0px">
    @if (ChildContent != null)
    {
        @if (base.HasStyles)
        {
            <div style="@base.Styles">
                @ChildContent
            </div>
            
        }
        else
        {
            @ChildContent
        }
    }
</MudCardContent>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}