@inject gView.Server.Services.Hosting.UrlHelperService UrlHelperService
@{
    ViewData["Title"] = "Login (Token)";
    ViewData["SubTitle"] = "gView 5 Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers

@model gView.Server.Models.TokenLoginModel;

<div class="gview-login-panel">
    <div class="title">
        <table>
            <tr>
                <td>
                    <img src="~/images/logos/gis_logo_no_border.png" />
                </td>
                <td>
                    <h3>@ViewData["Title"]</h3>
                    <br />
                    <div>@ViewData["SubTitle"]</div>
                </td>
            </tr>
        </table>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    <form action="@(UrlHelperService.AppRootUrl(this.Context.Request))/Token/Login" method="post" class="form-horizontal">
        @*<h4>Use a local account to log in.</h4>*@
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="attribute">
            <div>
                <div class="label">Username</div>
                <input asp-for="Username" class="form-control" autofocus placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="attribute">
            <div>
                <div class="label">Password</div>
                <input asp-for="Password" class="form-control" autofocus placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <table style="margin:20px 0px;width:100%">
            <tr>
                <td></td>
                <td style="text-align:right">
                    <div style="display:inline-block;margin-right:10px">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
