@inherits BaseHandler
@inject IExplorerApplicationService ExplorerApplication
@inject PluginManagerService PluginManager
@inject IconService Icons


    <MudTreeView ServerData="LoadServerData"
                  SelectedValueChanged="SelectedNodeChanged"
                  Items="TreeItems" 
                  ExpandOnDoubleClick="true" 
                  MultiSelection="false"
                  Hover="true">
        <ItemTemplate>
            <div style="white-space:nowrap; overflow-x:hidden">
               <MudTreeViewItem  Value="@context"
                                  Icon=@Icons.FromString(context.Icon)
                                  LoadingIconColor="Color.Info" 
                                  CanExpand="@context.HasChildren"
                                  Text="@context.Text">
                </MudTreeViewItem>
            </div>
        </ItemTemplate>
    </MudTreeView>

@code {
    private HashSet<ExplorerTreeNode> TreeItems { get; set; } = new HashSet<ExplorerTreeNode>();

    [Parameter] public ExplorerTreeNode? SelectedNode { get; set; }
    [Parameter] public EventCallback<ExplorerTreeNode> SelectedNodeChanged { get; set; }

    protected override void OnInitialized()
    {
        base.Handle(() =>
        {
            TreeItems.Add(new ExplorerTreeNode(ExplorerApplication.RootExplorerObject));
        });
    }

    public Task<HashSet<ExplorerTreeNode>?> LoadServerData(ExplorerTreeNode parentNode)
    {
        return base.HandleFuncAsync(async () =>
        {
            var exObject = parentNode.ExObject;

            var childNodes = new HashSet<ExplorerTreeNode>();

            if(exObject is IExplorerParentObject)
            {
                var exParent = (IExplorerParentObject)exObject;

                foreach(var childObject in await exParent.ChildObjects())
                {
                    childNodes.Add(new ExplorerTreeNode(childObject));
                }
            }

            return childNodes;
        });
    }
}