<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>gView GIS Web</title>
    <base href="@BaseUrl" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="gView.Web.styles.css" />

    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link href="_content/gView.Carto.Razor/css/carto.css" rel="stylesheet" />
    <link href="_content/gView.DataExplorer.Razor/css/dataexplorer.css" rel="stylesheet" />

    <link href="sketchpen/basic/content/css/sketchpen-basic-bg-light.css" rel="stylesheet" />
    <link href="sketchpen/webgis/content/css/sketchpen-webgis-bg-light.css" rel="stylesheet" />
    <link href="sketchpen/basic/content/css/sketchpen-basic-bg-dark.css" rel="stylesheet" />
    <link href="sketchpen/webgis/content/css/sketchpen-webgis-bg-dark.css" rel="stylesheet" />
    <link href="_content/gView.Razor.Leaflet/lib/leaflet/leaflet.min.css" rel="stylesheet" />
    <link href="_content/gView.Razor/gview-razor-base.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="_content/gView.Razor.Leaflet/lib/leaflet/leaflet.min.js"></script>
    <script src="_content/gView.Razor.Leaflet/lib/proj4js/proj4.min.js"></script>
    <script src="_content/gView.Razor.Leaflet/lib/proj4leaflet/proj4leaflet.min.js"></script>
    <script src="_content/gView.Razor.Leaflet/gViewLeafletInterops.js"></script>

    <script src="_content/gView.Razor/gview-razor-base.js"></script>
</body>

</html>

@code {
    // https://www.reddit.com/r/Blazor/comments/19dqltq/how_to_utilize_in_blazor_net_80/
    [CascadingParameter] private HttpContext? HttpContext { get; set; }
    private string BaseUrl => $"{HttpContext!.Request.PathBase}/";
}