.dataexplorer-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #0094ff;
}

    .dataexplorer-main .toolbar {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 60px;
        background: #ccc;
    }

    .dataexplorer-main .navigation-bar {
        position: absolute;
        left: 0px;
        top: 62px;
        right: 0px;
        height: 40px;
        background: #0078d4;
        padding: 0px;
    }

        .dataexplorer-main .navigation-bar .mud-breadcrumbs,
        .dataexplorer-main .navigation-bar .mud-breadcrumbs .mud-breadcrumb-separator {
            padding: 0px;
        }

    .dataexplorer-main .tree {
        position: absolute;
        left: 0px;
        top: 104px;
        bottom: 0px;
        width: 300px;
        background: #fff;
        overflow: auto;
    }

    .dataexplorer-main .content {
        position: absolute;
        left: 302px;
        top: 104px;
        right: 0px;
        bottom: 0px;
        background: #efefef;
        overflow: auto;
        padding:0px;
    }

.table-column-icon {
    width: 30px;
}

.treenode.selected > li > div:first-child {
    background: #0078d4;
    color:#efefef;
}