.dataexplorer-main {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #0094ff;

    user-select:none;
}

    .dataexplorer-main .toolbar {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        height: 80px;
        background: #ccc;
    }

        .dataexplorer-main .toolbar .explorer-tool-box {
            height: 76px;
            display: inline-block;
            vertical-align: top;
        }

            .dataexplorer-main .toolbar .explorer-tool-box .explorer-tool {
                height: 76px;
                display: inline-block;
                text-align: center;
                padding: 8px;
                margin: 2px;
                max-width: 120px;
                vertical-align: top;
                /*border:1px solid #aaa;*/
                cursor: pointer;
                box-sizing: border-box;
                font-size: 0.9em;
            }

        .dataexplorer-main .toolbar .explorer-tool:hover {
            background-color: #0094ff46;
            border: 1px solid #0094ff;
        }

    .dataexplorer-main .navigation-bar {
        position: absolute;
        left: 0px;
        top: 82px;
        right: 0px;
        height: 40px;
        background: #0078d4;
        padding: 0px;
    }

        .dataexplorer-main .navigation-bar .mud-breadcrumbs,
        .dataexplorer-main .navigation-bar .mud-breadcrumbs .mud-breadcrumb-separator {
            padding: 0px;
        }

    .dataexplorer-main .tree {
        position: absolute;
        left: 0px;
        top: 124px;
        bottom: 0px;
        width: 300px;
        background: #fff;
        overflow: auto;
    }

    .dataexplorer-main .content {
        position: absolute;
        left: 302px;
        top: 124px;
        right: 0px;
        bottom: 0px;
        background: #efefef;
        overflow: auto;
        padding:0px;
    }

.table-column-icon {
    width: 30px;
}

.treenode.selected > li > div:first-child {
    background: #0078d476;
    color:#333;
}

.dataexplorer-main .context-selected {
    background: #ffff00a9;
}