{
   "RepositoryPath": "c:/temp/gview-web",
	"Authentication_": {
	
		"Type": "oidc_",
		"RequiredUserRole": "gview-web-user",
		"RequiredAdminRole": "gview-web-admin",
		"Oidc": {
			"Authority": "",
			"ClientId": "",
			"ClientSecret": "",
			"scopes":["openid", "profile", "role"]
		}
	},
	"Authentication": {
		"Type": "forms",
		"Forms": {
			"AdminUsers": [
				{
					"Username": "admin",
					"PasswordHash": "B109F3BBBC244EB82441917ED06D618B9008DD09B3BEFD1B5E07394C706A8BB980B1D7785E5976EC049B46DF5F1326AF5A2EA6D103FD07C95385FFAB0CACBC86"
				}
			],
			"CartoUsers": [
				{
					"Username": "carto",
					"PasswordHash": "5E884898DA28047151D0E56F8DC6292773603D0D6AABBDD62A11EF721D1542D8"
				}
			]
		}
	},
	"Drives_": {
		"TILE_CACHES": "c:/temp/server/web/tiles",
		"USER": "c:/temp/users/{{username}}"
	},
	"CustomTiles": [
		{
			"Title": "Local gView Server",
			"Description": "gView Server in development environment",
			"TargetUrl": "https://localhost:44331",
			"BackgroundColor": "#afa",
			"FontColor": "#333"
		}
	],
	"MapControl__": {
		"Tiles": "e_ortsplan",
		"Crs": "stmk_m34"
	},
	"Publish": {
		"Servers":
		[
			{
				"Name": "localhost",
				"Url": "https://localhost:44331",
				"Client":"carto-publish",
				"Secret":"008bHbuWQx7JAY5lxOWnNWqm67L"
			}
		]
	},
	
	"SqlServer": {
		"AppendParameters": [
		  "TrustServerCertificate=false",
		  "Encrypt=true"
		]
	  }
}