
 .sketchpen-icon-webgis-bg-dark-24 {
    background-image: url("../img/sketchpen/bg-dark/24/1/sprite.png");
    background-repeat: no-repeat;
    background-size: 240px 264px;
    width: 24px;
    height: 24px;
    display: inline-block;
}.sketchpen-icon-webgis-bg-dark-24.3d {
     background-position: -0px -0px
}
.sketchpen-icon-webgis-bg-dark-24.altitude {
     background-position: -24px -0px
}
.sketchpen-icon-webgis-bg-dark-24.buffer {
     background-position: -48px -0px
}
.sketchpen-icon-webgis-bg-dark-24.chainage {
     background-position: -72px -0px
}
.sketchpen-icon-webgis-bg-dark-24.compass-rose {
     background-position: -96px -0px
}
.sketchpen-icon-webgis-bg-dark-24.compass {
     background-position: -120px -0px
}
.sketchpen-icon-webgis-bg-dark-24.compasses-off {
     background-position: -144px -0px
}
.sketchpen-icon-webgis-bg-dark-24.compasses {
     background-position: -168px -0px
}
.sketchpen-icon-webgis-bg-dark-24.construct-angle-direction {
     background-position: -192px -0px
}
.sketchpen-icon-webgis-bg-dark-24.construct-arc_2tangents {
     background-position: -216px -0px
}
.sketchpen-icon-webgis-bg-dark-24.construct-arc_3points {
     background-position: -0px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-circle {
     background-position: -24px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-line-both {
     background-position: -48px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-line-difference {
     background-position: -72px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-line-intersect {
     background-position: -96px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-polygon-both {
     background-position: -120px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-polygon-difference {
     background-position: -144px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-polygon-intersect {
     background-position: -168px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip-polygon-xor {
     background-position: -192px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-clip {
     background-position: -216px -24px
}
.sketchpen-icon-webgis-bg-dark-24.construct-copy {
     background-position: -0px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-cut {
     background-position: -24px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-default {
     background-position: -48px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-direction-direction {
     background-position: -72px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-direction-distance {
     background-position: -96px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-distance-distance {
     background-position: -120px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-edge-center {
     background-position: -144px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-edge-intersect {
     background-position: -168px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-extend-line {
     background-position: -192px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-midpoint {
     background-position: -216px -48px
}
.sketchpen-icon-webgis-bg-dark-24.construct-move {
     background-position: -0px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-new-section {
     background-position: -24px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-offset {
     background-position: -48px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-ortho-close {
     background-position: -72px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-ortho-off {
     background-position: -96px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-ortho {
     background-position: -120px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-orthogonal {
     background-position: -144px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-parallel {
     background-position: -168px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-perpendicular {
     background-position: -192px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-radius {
     background-position: -216px -72px
}
.sketchpen-icon-webgis-bg-dark-24.construct-rectangle {
     background-position: -0px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-swap-direction {
     background-position: -24px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-trace-off {
     background-position: -48px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-trace {
     background-position: -72px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-vertex-add {
     background-position: -96px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-vertex-pin {
     background-position: -120px -96px
}
.sketchpen-icon-webgis-bg-dark-24.construct-vertex-remove {
     background-position: -144px -96px
}
.sketchpen-icon-webgis-bg-dark-24.coordinates2d {
     background-position: -168px -96px
}
.sketchpen-icon-webgis-bg-dark-24.coordinates3d {
     background-position: -192px -96px
}
.sketchpen-icon-webgis-bg-dark-24.database-layers {
     background-position: -216px -96px
}
.sketchpen-icon-webgis-bg-dark-24.extent {
     background-position: -0px -120px
}
.sketchpen-icon-webgis-bg-dark-24.georef-doc {
     background-position: -24px -120px
}
.sketchpen-icon-webgis-bg-dark-24.georef-image {
     background-position: -48px -120px
}
.sketchpen-icon-webgis-bg-dark-24.height-profile {
     background-position: -72px -120px
}
.sketchpen-icon-webgis-bg-dark-24.identify {
     background-position: -96px -120px
}
.sketchpen-icon-webgis-bg-dark-24.layer-bottom {
     background-position: -120px -120px
}
.sketchpen-icon-webgis-bg-dark-24.layer-middle {
     background-position: -144px -120px
}
.sketchpen-icon-webgis-bg-dark-24.layer-top {
     background-position: -168px -120px
}
.sketchpen-icon-webgis-bg-dark-24.layers {
     background-position: -192px -120px
}
.sketchpen-icon-webgis-bg-dark-24.legend {
     background-position: -216px -120px
}
.sketchpen-icon-webgis-bg-dark-24.marker-bottom {
     background-position: -0px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-draggable-bottom {
     background-position: -24px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-draggable-outline-bottom {
     background-position: -48px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-draggable-outline {
     background-position: -72px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-draggable {
     background-position: -96px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-pin-bottom {
     background-position: -120px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-pin {
     background-position: -144px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker-remove {
     background-position: -168px -144px
}
.sketchpen-icon-webgis-bg-dark-24.marker {
     background-position: -192px -144px
}
.sketchpen-icon-webgis-bg-dark-24.markers {
     background-position: -216px -144px
}
.sketchpen-icon-webgis-bg-dark-24.measure-circle {
     background-position: -0px -168px
}
.sketchpen-icon-webgis-bg-dark-24.measure-polygon {
     background-position: -24px -168px
}
.sketchpen-icon-webgis-bg-dark-24.measure-polyline {
     background-position: -48px -168px
}
.sketchpen-icon-webgis-bg-dark-24.polygon-highlighted {
     background-position: -72px -168px
}
.sketchpen-icon-webgis-bg-dark-24.polygon-selected {
     background-position: -96px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-current {
     background-position: -120px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-east {
     background-position: -144px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-north-east {
     background-position: -168px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-north-west {
     background-position: -192px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-north {
     background-position: -216px -168px
}
.sketchpen-icon-webgis-bg-dark-24.position-south-east {
     background-position: -0px -192px
}
.sketchpen-icon-webgis-bg-dark-24.position-south-west {
     background-position: -24px -192px
}
.sketchpen-icon-webgis-bg-dark-24.position-south {
     background-position: -48px -192px
}
.sketchpen-icon-webgis-bg-dark-24.position-west {
     background-position: -72px -192px
}
.sketchpen-icon-webgis-bg-dark-24.redlining-info {
     background-position: -96px -192px
}
.sketchpen-icon-webgis-bg-dark-24.redlining {
     background-position: -120px -192px
}
.sketchpen-icon-webgis-bg-dark-24.ruler {
     background-position: -144px -192px
}
.sketchpen-icon-webgis-bg-dark-24.shape-circle {
     background-position: -168px -192px
}
.sketchpen-icon-webgis-bg-dark-24.shape-dim-line {
     background-position: -192px -192px
}
.sketchpen-icon-webgis-bg-dark-24.shape-distance-circle {
     background-position: -216px -192px
}
.sketchpen-icon-webgis-bg-dark-24.shape-freehand {
     background-position: -0px -216px
}
.sketchpen-icon-webgis-bg-dark-24.shape-hecto-line {
     background-position: -24px -216px
}
.sketchpen-icon-webgis-bg-dark-24.shape-polygon {
     background-position: -48px -216px
}
.sketchpen-icon-webgis-bg-dark-24.shape-polyline {
     background-position: -72px -216px
}
.sketchpen-icon-webgis-bg-dark-24.shape-rectangle-binoculars {
     background-position: -96px -216px
}
.sketchpen-icon-webgis-bg-dark-24.shape-rectangle {
     background-position: -120px -216px
}
.sketchpen-icon-webgis-bg-dark-24.snapping {
     background-position: -144px -216px
}
.sketchpen-icon-webgis-bg-dark-24.solar-altitude {
     background-position: -168px -216px
}
.sketchpen-icon-webgis-bg-dark-24.tiles {
     background-position: -192px -216px
}
.sketchpen-icon-webgis-bg-dark-24.zoom-in {
     background-position: -216px -216px
}
.sketchpen-icon-webgis-bg-dark-24.zoom-marker {
     background-position: -0px -240px
}
.sketchpen-icon-webgis-bg-dark-24.zoom-out {
     background-position: -24px -240px
}

@media (-webkit-min-device-pixel-ratio: 1.5), 
       (min-resolution: 144dpi) {

    .sketchpen-icon-webgis-bg-dark-24 {
        background-image: url("../img/sketchpen/bg-dark/24/1.5/sprite.png");
        background-size: 240px 264px;
    } 
}
@media (-webkit-min-device-pixel-ratio: 2), 
       (min-resolution: 192dpi) {

    .sketchpen-icon-webgis-bg-dark-24 {
        background-image: url("../img/sketchpen/bg-dark/24/2/sprite.png");
        background-size: 240px 264px;
    } 
}